.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Rubik Mono One", sans-serif;
}

.navbar {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  list-style: none;
  font-size: 35px;
}

.item {
  padding: 15px;
}
.span {
  padding: 15px;
  color: rgb(194, 194, 194);
}
.color {
  border-radius: 100%;
  padding: 15px;
  color: rgb(165, 4, 4);
}

.item:hover {
  transition: 0.1s;
  cursor: pointer;
  color: red;
}
