.container {
  
  justify-content: start;
  display: flex;
  margin: 1rem;
  border: solid;
  box-shadow: 10px;
  width: 650px;
  flex-wrap: wrap;
  border-color: rgb(219, 5, 87);
  padding-top: 1rem;
  padding: 2rem;
  box-shadow: 0.5rem 0.5rem rgb(219, 5, 87);
  justify-content: flex-start;
  align-self: flex-start;
  margin-left: 17rem;
}

.container input {
  width: 15rem;
  border-style: solid;
  border-width: 0.2rem;
  border-color: rgb(199, 199, 199);
  border-radius: 0.3rem;
  padding: 0.1rem;
  height: 2rem;
  padding-left: 0.4rem;
}

.item {
  align-self: center;
  margin-left: 1.5rem;
}

.item p {
  color: red;
  font-weight: 500;
  margin-top: 10px;
  padding: 0;
}

.genres {
  margin: 0;
  padding: 0;
  font-size: 25px;
}

.switcher {
  display: inline-block;
  height: 30px;
  border-radius: 25px;
  margin: 10px 0 0 0;
}
div.switcher {
  margin-inline: 10px;
}
.switcherLabel {
  cursor: pointer;
  position: absolute;
  font-weight: 500;
  margin: 20px 0 0 15px;
  margin-right: 25px;
  color: rgb(255, 255, 255);
}
.switcher input {
  padding: 17px;
  width: 185px;
  cursor: pointer;
  appearance: none;
  border-radius: 15px;
}

div.switcher input:not(:checked) {
  transition: 300ms;
  background: #c5c5c5;
}
div.switcher input:checked {
  transition: 300ms;
  background: #ee364e;
  border-color: #ee364e;
}

.botonSubmit {
  border-color: rgb(221, 32, 105);
  cursor: pointer;
  color: black;
  text-decoration: none;
  margin-bottom: 25px;
  font-family: inherit;
  padding: 0.6em 1.3em;
  background: white;
  font-weight: 900;
  font-size: 18px;
  box-shadow: 0.2em 0.2em rgb(221, 32, 105);
  transition: 0.1s;
}

.botonSubmit:disabled {
  border-color: rgb(32, 136, 221);
  border: none;
  cursor: pointer;
  color: black;
  text-decoration: none;
  margin-bottom: 25px;
  font-family: inherit;
  padding: 0.6em 1.3em;
  background: white;
  font-weight: 900;
  font-size: 18px;
  box-shadow: 0.2em 0.2em rgb(32, 136, 221);
  transition: 0.1s;
}

.botonRetorna {
  margin-left: 20px;
  cursor: pointer;
  color: black;
  text-decoration: none;
  margin-bottom: 25px;
  font-family: inherit;
  padding: 0.6em 1.3em;
  background: white;
  font-weight: 900;
  font-size: 18px;
  box-shadow: 0.2em 0.2em rgb(221, 32, 64);
  transition: 0.1s;
}
